---
import Layout from "../layouts/Layout.astro";
import { getPostList } from "../lib/post";
import { format } from "date-fns";
import type { GetStaticPathsOptions } from "astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await getPostList();

  return paginate(posts, { pageSize: 10 });
}

const range = (start: number, end: number) =>
  [...Array(end - start + 1)].map((_, i) => start + i);

const { page } = Astro.props;
---

<Layout title="hirokisakabe.com" path="/" thumbnail={`/ogp.png`}>
  <div class="space-y-7 pb-6">
    {
      page.data.map((content) => {
        return (
          <div class="rounded-lg px-3 py-5 shadow-md transition hover:shadow-lg">
            <a href={`/posts/${content.id}`}>
              <h3 class="font-medium hover:underline">{content.title}</h3>
            </a>
            <div class="pt-3 text-xs">
              {format(content.publishedAt, "yyyy/MM/dd")}
            </div>
          </div>
        );
      })
    }
    <nav
      class="flex items-center justify-center gap-2"
      aria-label="ページネーション"
    >
      {
        page.url.prev && (
          <a
            href={page.url.prev}
            class="rounded-md border border-gray-300 px-3 py-1 text-sm transition hover:bg-gray-100"
          >
            前へ
          </a>
        )
      }
      {
        range(1, Math.ceil(page.total / page.size)).map((number) => (
          <a
            href={number === 1 ? "/" : `/${number}`}
            class:list={[
              "rounded-md px-3 py-1 text-sm transition",
              page.currentPage === number
                ? "bg-gray-800 font-bold text-white"
                : "border border-gray-300 hover:bg-gray-100",
            ]}
            aria-current={page.currentPage === number ? "page" : undefined}
          >
            {number}
          </a>
        ))
      }
      {
        page.url.next && (
          <a
            href={page.url.next}
            class="rounded-md border border-gray-300 px-3 py-1 text-sm transition hover:bg-gray-100"
          >
            次へ
          </a>
        )
      }
    </nav>
  </div>
</Layout>
