---
import "../styles/global.css";

export interface Props {
  title: string;
  thumbnail: string;
  path: string;
  description?: string;
}

const DEFAULT_DESCRIPTION = "hiroki sakabe's blog";
const {
  thumbnail,
  title,
  path,
  description = DEFAULT_DESCRIPTION,
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content=`https://hirokisakabe.com${path}` />
    <meta
      property="og:image"
      content={"https://hirokisakabe.com" + thumbnail}
    />
    <meta name="twitter:card" content="summary_large_image" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Hiroki SAKABE"
      href="/rss.xml"
    />
    <title>
      {
        title === "hirokisakabe.com"
          ? "Hiroki SAKABE"
          : `${title} | Hiroki SAKABE`
      }
    </title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col px-10 lg:flex-row">
      <div class="lg:fixed lg:w-64">
        <div class="flex flex-col items-center lg:h-screen lg:flex-row">
          <div class="flex flex-col items-center">
            <a href="/">
              <div class="flex flex-col items-center">
                <div class="w-28 lg:w-fit">
                  <img
                    src="/icon.jpg"
                    alt={""}
                    width={200}
                    height={200}
                    class="rounded-full"
                  />
                </div>
                <div class="text-center">
                  <div class="text-2xl">Hiroki SAKABE</div>
                </div>
                <div class="py-3 text-center">
                  <div class="text-base">
                    プログラミングと旅行が好きな
                    <br />
                    ミニマリスト
                  </div>
                </div>
              </div>
            </a>
            <div class="flex gap-4">
              <a
                href="https://github.com/hirokisakabe"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="GitHub"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  role="img"
                  aria-hidden="true"
                >
                  <path
                    d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                  ></path>
                </svg>
              </a>
              <a
                href="https://zenn.dev/hirokisakabe"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Zenn"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  role="img"
                  aria-hidden="true"
                >
                  <path
                    d="M.264 23.771h4.984c.264 0 .498-.147.645-.352L19.614.874c.176-.293-.029-.645-.381-.645h-4.72c-.235 0-.44.117-.557.323L.03 23.361c-.088.176.029.41.234.41zM17.445 23.419l6.479-10.408c.205-.323-.029-.733-.41-.733h-4.691c-.176 0-.352.088-.44.235l-6.655 10.643c-.176.264.029.616.352.616h4.779c.205-.001.381-.118.586-.353z"
                  ></path>
                </svg>
              </a>
              <a
                href="https://x.com/hirokisakabe"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="X"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  role="img"
                  aria-hidden="true"
                >
                  <path
                    d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="flex flex-1 flex-col lg:ml-64 lg:border-l lg:border-gray-200 lg:px-3"
      >
        <main class="flex flex-1 flex-col py-6">
          <slot />
        </main>
        <footer class="py-4 text-center text-sm text-gray-500">
          <p>
            &copy; {new Date().getFullYear()} Hiroki SAKABE. All rights reserved.
          </p>
        </footer>
      </div>
    </div>
  </body>
</html>
